@import url("./vars.css");

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("https://res.cloudinary.com/daqpjdyeu/image/upload/v1719009366/HistorySync/business-background_d8h7h3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 75rem;
  margin: auto;
}

/* Navbar Styles */
.navbar {
  background: var(--klistapp-jacksons-purple);
  padding: 0.5625rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: space-between;
  height: 5.125rem;
  position: relative;
}

/* Button and Icon Styles */
.menu-button,
.share-button,
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.delete-btn {
  padding: 3px;
  border-color: var(--klistapp-jacksons-purple);
  border-radius: var(--bs-border-radius);
}

.bi {
  color: var(--klistapp-nero);
  background-color: transparent;
}

.menu-icon {
  border: none;
  cursor: pointer;
}

/* Text Styles */
.title-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
/* history-sync-tittle */
.history-sync-tittle {
  color: var(--klistapp-nero, #ffffff);
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  max-width: 13.4612rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-container {
  position: relative;
  display: inline-block;
}
.search-input {
  font-size: 1.125rem;
}
.search-button i {
  font-size: 1.125rem;
}

/* Estilo geral para o menu lateral esquerdo */
.menu-lateral-esquerdo {
  width: 15.625rem;
  height: 43.75rem;
  position: relative;
  background-color: #f4f4f4;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

/* Estilo para o conteúdo principal do menu */
.menu-principal {
  padding: 1.25rem;
}

/* Classe para ocultar o menu lateral */
.menu-lateral-esquerdo.oculto {
  transform: translateX(-110%); /* Move o menu lateral para fora da tela */
}

/* Estilo para a navegação */
.navegacao ul {
  list-style-type: none;
  padding: 0;
}

.navegacao li {
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}

/* Estilo para o estado ativo */
.save-button.active {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-jacksons-purple);
}

/* Estilo para os botões */
.new-event-button,
.search-events,
.menu-all-button,
.save-button,
.delete-btn {
  color: var(--klistapp-mine-shaft);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo para os ícones dentro dos botões */
.new-event-button i,
.search-events i,
.menu-all-button i {
  color: inherit;
}

/* Opções para estilizar o texto do botão */
.new-event-button:hover,
.search-events:hover,
.menu-all-button:hover,
.save-button:hover,
.delete-btn:hover {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-bay-of-many);
}

.menu-lateral-esquerdo {
  position: relative;
}

.logo-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.625rem;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.errormsg {
  color: red;
  padding: 0.625rem;
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  display: none;
}

#historicalEvents,
#NewEvents-body-table {
  /* Define a largura máxima e margens para centralizar e dar espaço */
  max-width: 75rem;
  margin: 2rem auto;

  /* Adiciona uma sombra suave para destacar a div */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Define a altura mínima para garantir que a div tenha algum espaço vertical */
  min-height: 20rem;

  /* Configura a cor de fundo para combinar com o tema do site */
  background-color: var(--klistapp-jacksons-purple);

  /* Define a tipografia e cores do texto para complementar o design */
  color: var(--klistapp-nero, #ffffff);
  font-family: "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;

  /* Adiciona bordas arredondadas para um aspecto mais moderno */
  border-radius: 0.5rem;

  /* Configura o overflow para scroll se os conteúdos excederem a altura da div */
  overflow-y: auto;
}

#historicalEvents:-webkit-scrollbar {
  /* Esconde a barra de rolagem no WebKit browsers */
  width: 0.375rem;
}

#historicalEvents:-webkit-scrollbar-thumb {
  /* Define a aparência da barra de rolagem */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.1875rem;
}

#historicalEvents:-webkit-scrollbar-track {
  /* Define a aparência do rastreador da barra de rolagem */
  background-color: var(--klistapp-jacksons-purple);
}

#historicalEvents,
#NewEvents-body-table {
  /* Posicionamento absoluto para centralizar na tela */
  position: absolute;
  top: 38%; /* Posiciona o topo da div no meio da tela */
  left: 53%; /* Posiciona a esquerda da div no meio da tela */

  /* Transforma para corrigir o centro de referência */
  transform: translate(-50%, -50%);

  /* Define a largura e altura para controlar o tamanho da div */
  width: 70%; /* Ajuste conforme necessário */
  height: 60%; /* Ajuste conforme necessário */

  /* Estabelece o fundo claro e a fonte escura */
  background-color: var(--klistapp-nero); /* Cor de fundo clara */
  color: var(--klistapp-mine-shaft); /* Cor de fonte escura */

  /* Outras propriedades de estilo conforme necessário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#historicalEvents {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}
.event-item {
  background-color: #f9f9f9;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

h3.event-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--klistapp-mine-shaft);
}
.event-description {
  color: var(--klistapp-mine-shaft);
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .search-input {
    font-size: 0.9375rem;
  }

  .bi {
    font-size: 0.9375rem;
  }

  .logo-container {
    bottom: 0.625rem;
  }

  .menu-lateral-esquerdo {
    height: 54.25rem;
  }
}
