@import url("./vars.css");

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 75rem;
  margin: auto;
}

/* Navbar Styles */
.navbar {
  background: var(--klistapp-jacksons-purple);
  padding: 0.5625rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: space-between;
  height: 3.1875rem;
  position: relative;
}

/* Button and Icon Styles */
.button,
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.bi {
  color: var(--klistapp-nero); /* Cor do ícone */
  background-color: transparent; /* Fundo do ícone */
}

.menu-icon {
  border: none;
  cursor: pointer;
}

/* Text Styles */
.title-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.event-title {
  color: var(--klistapp-nero, #ffffff);
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  max-width: 13.4612rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--klistapp-nero);
  background-color: var(--klistapp-jacksons-purple);
  font-family: "Actor-Regular", sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 200;
  position: relative;
  max-width: 4.125rem;
}

.select-button {
  border: none;
  cursor: pointer;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }
}
