@import url("./vars.css");

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 75rem;
  margin: auto;
}

/* Navbar Styles */
.navbar {
  background: var(--klistapp-jacksons-purple);
  padding: 0.5625rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: space-between;
  height: 5.125rem;
  position: relative;
}

/* Button and Icon Styles */

.menu-button,
.share-button,
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.bi {
  color: var(--klistapp-nero); /* Cor do ícone */
  background-color: transparent; /* Fundo do ícone */
}

.menu-icon {
  border: none;
  cursor: pointer;
}

/* Text Styles */
.title-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.event-title {
  color: var(--klistapp-nero, #ffffff);
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  max-width: 13.4612rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-container {
  position: relative;
  display: inline-block;
}
.search-input {
  font-size: 1.125rem;
}
.search-button i {
  font-size: 1.125rem;
}

/* Estilo geral para o menu lateral esquerdo */
.menu-lateral-esquerdo {
  width: 250px;
  height: 694px;
  position: relative;
  background-color: #f4f4f4; /* Cor de fundo neutra */
}

/* Estilo para o conteúdo principal do menu */
.menu-principal {
  padding: 20px;
}

.menu-lateral-esquerdo.oculto {
  display: none;
}

/* Estilo para a navegação */
.navegacao ul {
  list-style-type: none;
  padding: 0;
}

.navegacao li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Estilo para o estado ativo */
.active {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-jacksons-purple);
}

/* Estilo para os botões */
.new-event-button,
.star-button,
.menu-all-button {
  color: #333333;
  background-color: transparent; /* Alterado para transparente */
}

/* Estilo para os ícones dentro dos botões */
.new-event-button i,
.star-button i,
.menu-all-button i {
  color: inherit; /* Cor escura para os ícones */
}

/* Opções para estilizar o texto do botão */
.new-event-button:hover,
.star-button:hover,
.menu-all-button:hover {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-bay-of-many);
}

/* Opções para estilizar o botão ativo */
.active:hover {
  color: var(--klistapp-nero);
  background-color: var(--klistapp-jacksons-purple);
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .search-input {
    font-size: 0.9375rem;
  }

  .bi {
    font-size: 0.9375rem;
  }
}
